.top{
    background-color: #000;
    color: white;
    
}
select{
    color: white;
    background-color:black;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    padding: 15px;
    margin: 10px;
}
ul{
    display: flex;
    list-style-type: none;
    align-content: flex-end;
}

li{
    padding:10px;
    align-content: flex-end;
    

}

.main{
    font-size:40px;
    
}

.bdy{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: #333333;
    font-size: inherit;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    overflow: hidden;
    
    
}
.frm{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin: 3%;
    display: flex;
    flex-direction: column;
    
}
img{
padding-top: 50px;
height: 70px;
width: 350px;
text-align: center;
}
#pic{
    text-align: center;
}
input{
font-size: 20px;
font-family: 'Roboto', sans-serif;
border: 0px;
border-bottom: 2px solid black;
padding: 15px;
margin: 10px;
}		
.sbt{
font-family: 'Roboto', sans-serif;
color: white;
font-size: 30px;
background-color: black;
height: 60px;
width: 250px;
border: 0px;
}
.file{
font-family: 'Roboto', sans-serif;
/*color: white;
background-color: black;*/
/*font-size: 30px;
height: 60px;
width: 250px;*/
border: 0px;
border-bottom: 2px solid black;
padding: 15px;
margin: 10px;
}
.styleClass{
font-size: 20px;
font-family: 'Roboto', sans-serif;
border: 0px;
border-bottom: 2px solid black;
padding: 15px;
margin: 10px;
background-color: white;
color: black;
}


.foot{
    position: fixed;
    bottom: 5px;
    background-color: black;
    color: white;
    width: 100%;
}

table{
    text-align: center;
    width: 100%;
    /* background-color: black;
    color: white; */
    border: thin black;
    display: none;
}
#table{
    /* width: 100%; */
    display: none;
    overflow:scroll; 
    max-width:95vw;
    font-size: 25px;
    padding-left: 5%;
    border:5px 5px 5px 5px;
    border-color: black;
    
}
tr{
   width: 100%;
   display: table-row;
}
th{
    color: white;
    background-color: black;
    width: 300px;
}
tbody{
    width: 100%;
}

#anchor{
    display: inline; 
    color:black;
     font-size:5px; 
     padding:0; 
     margin:0; 
     position: relative;
}
#opt{
    background-color: black;
    color: white;
    height: 25px;
    width: 100px;
    border: none;
}

#recemond{
    background-color: #f37037;
}
