.top{
    background-color: #000;
    color: white;
    
}

ul{
    display: flex;
    list-style-type: none;
    align-content: flex-end;
}

li{
    padding:10px;
    align-content: flex-end;
    

}

.main{
    font-size:40px;
    
}

.bdy{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: #333333;
    font-size: inherit;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    overflow: hidden;
    
    
}
.frm{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin: 3%;
    display: flex;
    flex-direction: column;
    
}
img{
padding-top: 50px;
height: 70px;
width: 350px;
}
input{
font-size: 20px;
font-family: 'Roboto', sans-serif;
border: 0px;
border-bottom: 2px solid black;
padding: 15px;
margin: 10px;
}		
button{
font-family: 'Roboto', sans-serif;
color: white;
font-size: 30px;
background-color: black;
height: 60px;
width: 250px;
border: 0px;
}

.foot{
    position: fixed;
    bottom: 5px;
    background-color: black;
    color: white;
    width: 100%;
}